[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ghodsizadeh/tehran-stocks/blob/master/Example/Read_Data.ipynb)
[![GitHub stars](https://img.shields.io/github/stars/ghodsizadeh/tehran-stocks?label=Github%20Stars)](https://github.com/ghodsizadeh/tehran-stocks/stargazers)


You can support this project by giving a star on  Github [![GitHub stars](https://img.shields.io/github/stars/ghodsizadeh/tehran-stocks)](https://github.com/ghodsizadeh/tehran-stocks/stargazers)  and subscribing my youtube channel [![Youtube](https://img.shields.io/badge/YouTube-FF0000?style=for-the-badge&logo=youtube&logoColor=white)](https://youtube.com/channel/UCF3v_GwH3Jg2c-V3hRwmcbg)

# Imports
Modules that help you to donwload stock

In [ ]:
## Install the package
%pip install -U tehran_stocks

In [2]:
from tehran_stocks import Stocks, db

## Find a specefic stock

In [3]:
stock_by_symbol = Stocks.query.filter_by(name='كگل').first() #find by symbol(نماد)
stock_by_title = Stocks.query.filter(Stocks.title.like('%گل گهر%')).first() # Search by title
stock = stock_by_symbol
stock_by_symbol == stock_by_title

True

# List stocks in a group and call them

In [ ]:
stock_list_felez = Stocks.query.filter_by(group_code =34).all() # find all Stocks in Khodro
stock_list_felez_and_khodro = Stocks.query.filter(Stocks.group_code.in_([13,34])).all() # all stocks in khodro and felezat

# Advance query

In [ ]:

db.session.query(Stocks.group_code, Stocks.group_name).group_by(Stocks.group_code).all()


db.session.execute('select group_code , group_name from stocks group by group_name limit 4').fetchall()

In [ ]:
# You can check existing tables and thier columns

In [ ]:


q = "SELECT name FROM sqlite_master WHERE type='table'"
print('tables:',  db.session.execute(q).fetchall())
print('stocks colums:', db.session.execute('PRAGMA table_info([stocks]);').fetchall())

# Read Data

In [ ]:
stock.df.head(2)

In [6]:
stock.summary()

Start date: 20040829
End date: 20220330
Total days: 3600

In [ ]:
## update stock price history

stock.update()

In [ ]:
## export to your preferred format
stock.df.to_csv('price.csv')
stock.df.to_excel('price.xlsx')
stock.df.to_stata('price.dta')

# New in Version 1.0.0

## Get Instant detail

In [4]:
stock.get_instant_detail()

{'time': '12:29:57',
 'last_price': '12950',
 'last_close': '13060',
 'last_high': '13300',
 'last_low': '13130',
 'last_open': '13330',
 'trade_count': '12760',
 'trade_volume': '1140',
 'trade_value': '4671236',
 'market_cap': '60715047900',
 'date_string': '20220404',
 'time_string': '122957'}

## Get change in share count
Most of times refer to the change share split and in capital raising.

In [5]:
stock.get_shares_history()

                   date new_shares old_shares      gdate
0   1400-12-08 00:00:00  200.000 B  100.000 B 2022-02-27
1   1400-04-20 00:00:00  100.000 B   74.400 B 2021-07-11
2   1400-04-16 00:00:00   74.400 B  100.000 B 2021-07-07
3   1400-01-11 00:00:00  100.000 B   74.400 B 2021-03-31
4   1399-04-22 00:00:00   74.400 B   48.000 B 2020-07-12
5   1399-04-18 00:00:00   48.000 B   74.400 B 2020-07-08
6   1399-02-14 00:00:00   74.400 B   48.000 B 2020-05-03
7   1398-04-16 00:00:00   48.000 B   36.000 B 2019-07-07
8   1398-04-12 00:00:00   36.000 B   48.000 B 2019-07-03
9   1398-01-25 00:00:00   48.000 B   36.000 B 2019-04-14
10  1397-04-12 00:00:00   36.000 B   30.000 B 2018-07-03
11  1397-04-10 00:00:00   30.000 B   36.000 B 2018-07-01
12  1397-01-06 00:00:00   36.000 B   30.000 B 2018-03-26
13  1395-05-26 00:00:00   30.000 B   24.000 B 2016-08-16
14  1394-05-05 00:00:00   24.000 B   18.000 B 2015-07-27
15  1393-03-03 00:00:00   18.000 B   10.000 B 2014-05-24
16  1391-12-19 00:00:00   10.000 B    6.000 B 2013-03-09
17  1390-04-05 00:00:00    6.000 B    3.000 B 2011-06-26
18  1389-04-20 00:00:00    3.000 B  880.000 M 2010-07-11

## Get dividend
It's not actually dividend, every shift in price for dividend, share split or capital raising may be inside this data.

In [6]:
stock.get_dividend()

                   date  after  before  dividend      gdate
0   1400-04-16 00:00:00  18770   20070      1300 2021-07-07
1   1399-04-18 00:00:00  16350   17250       900 2020-07-08
2   1398-04-17 00:00:00   7023    5242     -1781 2019-07-08
3   1398-04-16 00:00:00   5242    6656      1414 2019-07-07
4   1398-04-15 00:00:00   6656    7736      1080 2019-07-06
5   1398-04-12 00:00:00   7736    7833        97 2019-07-03
6   1398-01-25 00:00:00   6052    7736      1684 2019-04-14
7   1397-04-12 00:00:00   4663    2667     -1996 2018-07-03
8   1397-04-12 00:00:00   2667    3000       333 2018-07-03
9   1397-04-11 00:00:00   3000    3650       650 2018-07-02
10  1397-04-10 00:00:00   3650    5205      1555 2018-07-01
11  1397-01-06 00:00:00   3208    3650       442 2018-03-26
12  1396-04-27 00:00:00   2000    2280       280 2017-07-18
13  1395-05-26 00:00:00   1881    2147       266 2016-08-16
14  1395-04-28 00:00:00   1671    1891       220 2016-07-18
15  1394-05-05 00:00:00   2155    2541       386 2015-07-27
16  1394-05-03 00:00:00   2541    3041       500 2015-07-25
17  1393-04-08 00:00:00   5550    5786       236 2014-06-29
18  1393-04-08 00:00:00   5786    9616      3830 2014-06-29
19  1393-04-08 00:00:00   9616   10966      1350 2014-06-29
20  1393-03-03 00:00:00   6536   10966      4430 2014-05-24
21  1392-04-25 00:00:00  10730    6706     -4024 2013-07-16
22  1392-04-25 00:00:00   6706   10510      3804 2013-07-16
23  1392-04-25 00:00:00  10510   12410      1900 2013-07-16
24  1391-12-19 00:00:00   7846   12410      4564 2013-03-09
25  1391-04-13 00:00:00   5016    5996       980 2012-07-03
26  1390-04-05 00:00:00   6299   11598      5299 2011-06-26
27  1390-04-01 00:00:00  11598   12998      1400 2011-06-22
28  1389-04-20 00:00:00   6304   19082     12778 2010-07-11
29  1389-04-14 00:00:00  20532   20387      -145 2010-07-05
30  1389-04-14 00:00:00  19082   20532      1450 2010-07-05
31  1389-04-13 00:00:00  20387   20532       145 2010-07-04
32  1388-04-02 00:00:00   8185   10235      2050 2009-06-23

# Advanced used

In [ ]:
# if you want to update stock list use:
from tehran_stocks.download import fill_stock_table
fill_stock_table()

In [ ]:
# to update all prices use:
from tehran_stocks.download import get_all_price

get_all_price()

In [ ]:
%pip install nest_asyncio
import nest_asyncio
nest_asyncio.apply()

# run above cell again